<p>This is a Dummy-Website created by me with an intention of testing my combinative and practical knowlege of <strong>Angular</strong><strong>, HTML5, CSS3, TypeScript,&nbsp;Visual Studio Code, Java, Hibernate, SpringBoot</strong> and <strong>Eclipse</strong>.</p>
<p><strong>What is the intention of this site?</strong></p>
<p>Open-Library is a dummy website that allows users to exchange books among them.</p>
<p><strong>How does this site work?</strong></p>
<ul>
<li>First you have to create an account by clicking <strong>CreateProfile</strong> where every feild in the form has to be filled.</li>
<li>Then u can click the <strong>SeeAllList</strong> to see your id.</li>
<li>Enter your correct id in the input feild and click <strong>Enter</strong>. You will be redirected into MyBooks.</li>
<li>Now u can add the book by clicking "Wanna add book?" where u have to fill the input feild of the form that will be displayed. (Note that image-link has to be added , not image.)</li>
<li>After adding books in your account, u can now click your books where u can <strong>update</strong>, <strong>delete </strong> or <strong>share </strong> with the other users if u want.</li>
<li>You can see the books you have shared by clicking <strong>My Shared Books</strong> where u can remove it whenever u want by first clickng the book and them by clicking <strong>Remove</strong></li>
<li>You can click the <strong>notification</strong> inorder to see the request from other user who is interested in&nbsp;the book you have shared , where u communicate with them with the help of their email-id which will be shown in the notification pannel.</li>
<li>Likewise, u can also see the books shared by other users and can request to the owner if u found books on the list that u are interested on</li>
</ul>
<p><strong>Is this the best version of this site?</strong></p>
<p>Definitely not. There are sitll many thing which can be improved on each step while using the site.Some of them are:</p>
<ul>
<ul>
<li>Proper utilization of toastr at appropriate events</li>
<li>Making the site responsive according to the size of browser</li>
<li>Accessing the user with username and password rather than automated generated ID</li>
<li>Adding cancelation button for the accidential clicking of certain buttons.</li>
<li>Allowing the users to communicate from within the site rather than using email.</li>
</ul>
</ul>
<p>&nbsp;</p>
<ul>Still there are many improvements that can be done in both backend and frontend, which will be continuously improved.</ul>
<p>&nbsp;</p>
<p>This site is launched with the help of https://dashboard.heroku.com/apps which is deployed through my git-repository (https://github.com/dikshyantacharya/open-library/tree/main).</p>
<span><strong>Dikshyant Acharya</strong></span> <br>
<span>dikshyantacharya@gmail.com</span>
