

<div class="background"> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink ="openLibrary" routerLinkActive= "active">OpenLibrary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="myProfile" routerLinkActive= "active">MyProfile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled " routerLink="myBooks" routerLinkActive= "active"  >MyBooks</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="availableBooks" routerLinkActive= "active">BooksAvailable</a>
      </li>
     
    </ul>  <li class="nav-item">
      <a class="nav-link" routerLink="aboutUs" routerLinkActive= "active">About Us</a>
     
   </li>   
  </div>

  </nav>

  

  <div class="container" class="under-nav">
  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
 </div>


</div>
